In [1]:
import pprint
import random
import pandas as pd
from faker import Faker
from faker.providers import profile
from datetime import datetime
from datetime import date

fake = Faker('es_MX')
fake.add_provider(profile)

CURRENCY_SIGN = '$'
# salario anual en dolares
MIN_SALARY = 15000.00
MAX_SALARY = 150000.00
# peso en kilogramos
MIN_WEIGHT = 50
MAX_WEIGHT = 120
# talla en centimetros
MIN_HEIGHT = 150
MAX_HEIGHT = 210


def generate_random_data(count):
    result_set = []
    for _ in range(count):
        user_info = fake.profile()
        user_info['country'] = fake.country()
        user_info['weight'] = int(random.uniform(MIN_WEIGHT, MAX_WEIGHT))
        user_info['height'] = int(random.uniform(MIN_HEIGHT, MAX_HEIGHT))
        user_info['salary'] = random.uniform(MIN_SALARY, MAX_SALARY)
        user_info['formatted_salary'] = CURRENCY_SIGN + str("{:,}".format(int(user_info['salary'])))

        result_set.append(user_info)
        #pprint.pprint(user_info)
    print(f'Generated {len(result_set)} records!')
    return result_set


def calculate_age(born):
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    return int(today.year - born.year - ((today.month, today.day) < (born.month, born.day)))


#1. Generacion de datos aleatorios
data = generate_random_data(1000)

Generated 1000 records!

In [2]:
#2. Guardar los datos en un archivo separado por comas
raw_df = pd.DataFrame(data)
raw_df.to_csv('list.csv', index=False)

In [3]:
#3. Leer el archivo y crear dataFrame a partir de los datos contenidos
my_df = pd.read_csv('list.csv')

In [4]:
#4. Limpieza inicial de los datos
columns_to_delete = ['current_location', 'ssn', 'username', 'website', 'residence']
my_df.drop(columns=columns_to_delete, inplace=True)

In [5]:
# calculate dinamically some columns
my_df['age'] = my_df['birthdate'].apply(calculate_age)

In [6]:
# obtener dominios limpiando las direcciones de email

def extract_domain_from_email_address(email):
    import re
    domain = re.search("@[\w.]+", email)
    return domain.group()[1:]

my_df['domain'] = my_df['mail'].apply(extract_domain_from_email_address)

In [7]:
# quitar a cualquier persona que sea menor de edad y mayores de 100 años

my_df = my_df[(my_df['age'] >= 18) & (my_df['age'] < 100)]
my_df.reset_index(drop=True, inplace=True)

In [8]:
# #X. Exportar a formato HTML
print("Exportar DataFrame completo como HTML")
my_df.to_html('df_data.html', index=True)

Exportar DataFrame completo como HTML

In [9]:
# ordenar columnas alfabeticamente y las filas por edad (menor a mayor)
my_df.sort_values('age', ascending=True, inplace=True)
my_df.reset_index(drop=True, inplace=True)
my_df.sort_index(axis=1, inplace=True)

In [10]:
print('*** Reporte de cantidad personas por país de residencia ***')
df_by_country = my_df.groupby('country',as_index=True).agg({'country': ['count']})
print(df_by_country.head(100))
df_by_country.to_html('cantidad_personas_por_pais_residencia.html', index=True)

*** Reporte de cantidad personas por país de residencia ***
                     country
                       count
country
Afganistán                 2
Albania                    4
Alemania                   6
Andorra                    2
Angola                     6
Antigua y Barbuda          4
Arabia Saudita             4
Argelia                    2
Argentina                  2
Australia                  3
Austria                    5
Azerbaiyán                 3
Bahamas                    5
Bahrein                    3
Bangladesh                 3
Belarús                    1
Belice                     3
Benin                      3
Bhután                     5
Bolivia                    2
Bosnia y Herzegovina       3
Botswana                   4
Brasil                     7
Brunei Darussalam          2
Bulgaria                   4
Burkina Faso               7
Burundi                    6
Cabo Verde                 9
Camboya                    3
Camerún                    5
...                      ...
Guinea Ecuatorial          3
Guyana                     1
Haití                      1
Honduras                   2
Hungría                    5
India                      6
Indonesia                  3
Iraq                       4
Irlanda                    4
Irán                       4
Islandia                   5
Islas Marshall             2
Islas Salomón              2
Israel                     3
Italia                     4
Jamaica                    8
Japón                      5
Jordania                   2
Kazajstán                  5
Kenya                      5
Kirguistán                 3
Kiribati                   1
Kuwait                     5
Lesotho                    3
Letonia                    1
Liberia                    2
Libia                      2
Liechtenstein              2
Lituania                   9
Luxemburgo                 6

[100 rows x 1 columns]

In [11]:
print('*** Reporte de cantidad personas por proveedor de email ***')
df_by_email_provider = my_df.groupby('domain', as_index=True).agg({'domain': ['count']})
print(df_by_email_provider.head(100))
df_by_email_provider.to_html('cantidad_personas_por_proveedor_email.html', index=True)

*** Reporte de cantidad personas por proveedor de email ***
            domain
             count
domain
gmail.com      221
hotmail.com    247
yahoo.com      249

In [12]:
print('*** Reporte de cantidad personas por proveedor tipo de sangre ***')
df_by_blood_group = my_df.groupby('blood_group', as_index=True).agg({'blood_group': ['count']})
print(df_by_blood_group.head(100))
df_by_blood_group.to_html('cantidad_personas_por_grupo_sanguineo.html', index=True)

*** Reporte de cantidad personas por proveedor tipo de sangre ***
            blood_group
                  count
blood_group
A+                   74
A-                   98
AB+                  84
AB-                  93
B+                  102
B-                   83
O+                   83
O-                  100

In [13]:
df_by_salary = my_df
print('Salario promedio anual : {:8.2f} dollars'.format(df_by_salary['salary'].mean()))

print('*** Reporte de promedios por pais [edad, peso, salario y talla] ***')
df_by_salary_grouped = df_by_salary.groupby(['country'], as_index=True).mean().add_suffix('_avg').reset_index()
df_by_salary_grouped.to_html('promedios_generales_por_pais.html', index=True)
print(df_by_salary_grouped)

group = df_by_salary.groupby('country')
#print(group.mean().head(100))

df_by_salary['salary'].hist(figsize=(12, 6), bins=25, grid=True);

Salario promedio anual : 83275.22 dollars
*** Reporte de promedios por pais [edad, peso, salario y talla] ***
                                 country    age_avg  height_avg  \
0                             Afganistán  74.500000  161.500000
1                                Albania  43.250000  175.750000
2                               Alemania  47.666667  175.166667
3                                Andorra  63.000000  187.000000
4                                 Angola  59.833333  186.333333
5                      Antigua y Barbuda  48.750000  167.000000
6                         Arabia Saudita  74.000000  189.500000
7                                Argelia  54.000000  188.000000
8                              Argentina  73.500000  171.000000
9                              Australia  54.000000  189.000000
10                               Austria  36.200000  179.000000
11                            Azerbaiyán  50.666667  206.666667
12                               Bahamas  50.400000  182.800000
13                               Bahrein  75.666667  179.333333
14                            Bangladesh  36.333333  178.000000
15                               Belarús  31.000000  202.000000
16                                Belice  47.666667  174.000000
17                                 Benin  68.333333  191.666667
18                                Bhután  50.200000  170.400000
19                               Bolivia  52.500000  174.500000
20                  Bosnia y Herzegovina  42.666667  189.000000
21                              Botswana  50.750000  180.250000
22                                Brasil  52.285714  174.714286
23                     Brunei Darussalam  56.500000  157.500000
24                              Bulgaria  49.750000  180.500000
25                          Burkina Faso  39.428571  180.714286
26                               Burundi  56.000000  182.333333
27                            Cabo Verde  51.111111  176.666667
28                               Camboya  75.000000  174.666667
29                               Camerún  50.000000  160.400000
..                                   ...        ...         ...
157                              Somalia  33.000000  177.500000
158                            Sri Lanka  75.000000  186.000000
159                            Sudáfrica  49.500000  189.250000
160                                Sudán  33.333333  182.000000
161                        Sudán del Sur  45.333333  176.666667
162                               Suecia  80.000000  177.000000
163                                Suiza  56.333333  170.333333
164                             Suriname  59.714286  170.714286
165                          Swazilandia  70.500000  178.500000
166                            Tailandia  61.166667  162.166667
167                           Tayikistán  73.000000  195.500000
168                          Timor-Leste  62.600000  184.800000
169                                 Togo  70.666667  189.000000
170                                Tonga  44.333333  183.333333
171                    Trinidad y Tabago  50.800000  170.400000
172                         Turkmenistán  50.600000  174.200000
173                              Turquía  59.571429  188.428571
174                               Tuvalu  58.666667  180.000000
175                                Túnez  52.200000  194.400000
176                              Ucrania  56.000000  183.333333
177                               Uganda  63.000000  193.000000
178                              Uruguay  54.000000  179.500000
179                           Uzbekistán  48.000000  178.500000
180                              Vanuatu  63.000000  176.333333
181                            Venezuela  33.000000  188.000000
182                              Vietman  43.000000  177.500000
183                                Yemen  56.500000  179.000000
184                               Zambia  33.000000  176.666667
185                             Zimbabwe  43.666667  169.166667
186  ex República Yugoslava de Macedonia  82.250000  191.500000

        salary_avg  weight_avg
0     61880.496456   81.000000
1    117805.593795   71.000000
2     75325.939189   78.166667
3    117686.132803  102.000000
4     65608.174935   87.833333
5     59905.540115   74.000000
6     75331.860112   75.500000
7    136627.160979   89.500000
8     52314.723523   86.000000
9     68909.331202  106.666667
10   107740.305505   80.200000
11    94356.802184   98.333333
12    90384.658262   73.600000
13   107610.855219   79.000000
14    90337.763709   89.333333
15    29303.368755  103.000000
16    81372.624602   78.666667
17    90584.890559   83.666667
18   102131.197228   90.000000
19   128356.543943   87.000000
20    63718.079512   74.666667
21    92603.856527   71.750000
22    85412.822084   80.285714
23    98140.057980   79.500000
24    91660.996315   79.500000
25    76454.148643   72.714286
26    67088.616080   85.666667
27    78695.994971   74.111111
28   102796.470525   94.333333
29    88973.950314   85.200000
..             ...         ...
157   92660.625944   94.000000
158   31979.111279   67.000000
159   79056.422944   83.000000
160   52130.515395   82.333333
161   97120.835029   88.333333
162   57622.189825   94.000000
163   81387.628721   90.000000
164   96744.719268   82.857143
165   60210.536336   76.750000
166   90160.185231   75.000000
167   99792.503383   80.500000
168  100796.707612   71.400000
169   82290.772530   90.000000
170   67646.639145   71.000000
171   75012.667710   91.600000
172  111781.805202   85.600000
173   87783.355888   82.142857
174   81455.346678  103.333333
175   88747.627029   93.600000
176   98107.959303  101.333333
177  146564.219901   81.000000
178   73556.568865   80.500000
179   93113.687260   91.000000
180   79291.260489   63.666667
181   51498.088593  105.000000
182   81645.076644   87.000000
183   81806.103181   72.000000
184   42294.383264   88.333333
185   75995.490206   85.833333
186   68617.656344   69.500000

[187 rows x 5 columns]